<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to visca web controller!
  </h1>
</div>
<h2>Available actions: </h2>
<ul>
  <li>
    <button mat-button (click)="sendCommand('HOME')">HOME</button>
  </li>
  <li>
    <button mat-button (click)="sendCommand('DOWN')">DOWN</button> 
  </li>
  <li>
    <button mat-button (click)="sendCommand('UP')">UP</button> 
  </li>
  <li>
    <button mat-button (click)="sendCommand('RIGHT')">RIGHT</button> 
  </li>
  <li>
    <button mat-button (click)="sendCommand('LEFT')">LEFT</button> 
  </li>
  <li>
    <button mat-button (click)="sendCommand('TOPRIGHT')">TOPRIGHT</button> 
  </li>
  <li>
    <button mat-button (click)="sendCommand('TOPLEFT')">TOPLEFT</button> 
  </li>
  <li>
    <button mat-button (click)="sendCommand('TELEZOOM')">TELEZOOM</button> 
  </li>
  <li>
    <button mat-button (click)="sendCommand('WIDEZOOM')">WIDEZOOM</button> 
  </li>
</ul>

<router-outlet></router-outlet>
